.courses {
    padding-top: 70px;
    .courses__container {
        .courses__box__container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @media screen and (max-width: 840px) {
                flex-direction: column;
                align-content: space-around;
            }
            .course__box{
                display: flex;
                background: #F7F7F7;
                border-radius: 48px;
                width: 48%;
                height: 260px;
                margin-top: 30px;
                padding-top: 30px;
                flex-direction: column;
                @media screen and (max-width: 1010px) {
                    height: 350px;
                    width: 100%;
                }
                @media screen and (max-width: 1010px) {
                    height: 300px;
                }
                @media screen and (max-width: 580px) {
                    height: 350px;
                }
                .item {
                    margin-left: 30px;
                }
                .image {
                    .image-icon {
                        display: none;
                        width: 100px;
                        @media screen and (max-width: 580px) {
                            display: flex;
                        }
                    }
                }    
                .course__time {
                    background: #FCC344;
                    text-align: center;
                    padding-top: 5px;
                    height: 19px;
                    @media screen and (max-width: 1010px) {
                        margin-top: 15px;
                    }
                }
                .time_first {
                    width: 72px;
                }
                .time__second {
                    width: 137px;
                }
                .time__third {
                    width: 94px;
                }
                .headline {
                    margin-top: 15px;
                    font-size: 22px;
                }
                .description {
                    color: #717171;
                    margin-top: 15px;
                    display: flex;
                    justify-content: space-between;
                    .image {
                        .image-icon {
                            width: 200px;
                            margin-right: 20px;
                            margin-top: -100px;
                            display: flex;
                            @media screen and (max-width: 1120px) {
                                width: 150px;
                                margin-top: -63px;
                            }
                            @media screen and (max-width: 1010px) {
                                width: 200px;
                                margin-top: -78px;
                            }
                            @media screen and (max-width: 580px) {
                                display: none;
                            }
                        }
                    }
                }
                .learn__more {
                    font-size: 14px;
                    font-weight: 600;
                    margin-top: 0px;
                    &:hover {
                        color: #FCC344;
                    }
                    &:active {
                        color: #F7F7F7;
                    }
                    @media screen and (max-width: 1120px) {
                        margin-top: 13px;
                    }
                    @media screen and (max-width: 450px) {
                        margin-top: 46px;
                    }
                }
            }
            .course__box__last {
                border: 2px solid #F7F7F7;
                border-radius: 48px;
                width: 48%;
                height: 286px;
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                @media screen and (max-width: 1010px) {
                    height: 330px;
                    width: 100%;
                }
                @media screen and (max-width: 580px) {
                    height: 380px;
                }
                .headline {
                    font-size: 22px;
                    display: flex;
                }
                .description {
                    padding-top: 20px;
                    display: flex;
                    .link {
                        &:hover {
                            color: #FCC344;
                        }
                        &:active {
                            color: #F7F7F7;
                        }
                    }
                }
            }
        }
    }
}