.details {
    padding-top: 70px;
    .details__container {
        .video__wrapper {
            margin-top: 30px;
            .video {
                display: flex;
                width: 100%;
                height: 283px;
                border-radius: 32px;
                object-fit: cover;
            }
        }
        .list__container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            @media screen and (max-width: 950px) {
                flex-wrap: wrap;
            }
            .list {
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                width: 210px;
                @media screen and (max-width: 950px) {
                    width: 48%;
                }
                @media screen and (max-width: 540px) {
                    width: 100%;
                }
                .number {
                    font-size: 27px;
                    color: #FCC344;
                    padding-bottom: 20px;
                    border-bottom: 1px solid black;
                }
                .headline {
                    font-size: 20px;
                    margin-top: 30px;
                }
                .description {
                    color: #717171;
                    margin-top: 20px;
                    font-size: 12px;
                }
            }
        }
    }
}