.reviews {
    padding-top: 70px;
    .reviews__container {
        .headline {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .add__review {
                color: #125EF0;
                &:hover {
                    color: #FCC344;
                }
                &:active {
                    color: #717171;
                }
            }
        }
        .reviews__wrapper {
            margin-top: 30px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            .review {
                width: 366px;
                height: 280px;
                background-color: #F7F7F7;
                border-radius: 24px;
                padding-left: 15px;
                padding-top: 15px;
                margin-bottom: 15px;
                .info__wrapper {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .name__date__wrapper {
                        display: flex;
                        flex-direction: column;
                        padding-left: 10px;
                        .name {
                            font-size: 16px;
                        }
                        .date {
                            padding-top: 5px;
                            color: #717171;
                        }
                    }
                }
                .text {
                    padding-top: 20px;
                    font-size: 15px;
                    line-height: 1.9em;
                    @media screen and (max-width: 430px) {
                        line-height: 0.9em;
                    }
                }
            }
        }
        .review__button {
            display: block;
            margin-left: auto;
            margin-right: auto;
            color: white;
            background-color: black;
            width: 188px;
            height: 56px;
            border-radius: 16px;
            margin-top: 15px;
            margin-bottom: 15px;
            text-align: center;
            border: none;
            font-size: 14px;
            &:hover {
                background-color: #FCC344;
            }
            &:active {
                background-color: #717171;
            }
        }
    }
}